//style headings
h1{
color: green;
    font-family: sans-serif;
}
p{
color: paleturquoise;
    font-family: cursive;
}

//style lists
ul{
list-style-type: circle;
}
ol{
list-style-type: upper-roman;
}

//menu bar added and styled 
a{  
font-family : Helvetica, sans-serif;
text-decoration : none;
background-color: aquamarine;
padding : 5px;
}
a:hover{
background-color: aqua;
color : #ffffff;
}

//<div> added so that specific hyperlinks will have menu style. correct code with the following
#menu-bar a{
font-family : Helvetica, sans-serif;
text-decoration : none;
background-color: aquamarine;
padding : 5px;
}
#menu-bar a:hover{
background-color: aqua;
color : #ffffff;
}
